

<div class="container">
  <div class="card-trip">
  <% @produtos.each do |produto| %>
    <% if produto.photo.attached? %>
      <%= cl_image_tag produto.photo.key, height: 321, width: 250, crop: :fill %>
    <% else%>
      <img src="<%=basket_array.sample%>" height="321" width="250">
    <%end%>
   <div class="card-trip-infos">
      <div>
       <%= produto.nome %></h2>
       <p>Descrição: <%= produto.tamanho %></p>
      </div>
         <h2 class="card-trip-pricing">
                <%= produto.valor %></h2>
  <% end %>
          <img src="assets/logo.jpg" alt="" class="card-trip-user avatar-bordered"/>
   </div>
      <%= link_to "Início", root_path %>
</div>
